
*.stash
*.obj
*.user
*.exe
ProtoGenTest/
ProtoGenTestCPP/
ProtoGenInstall/
*.zip
*.ilk
*.pdb
*Makefile
*.Release
*.Debug
Novatel/NovatelStructures.c
Novatel/NovatelStructures.h
Novatel/scaleddecode.c
Novatel/scaleddecode.h
Novatel/scaledencode.c
Novatel/scaledencode.h
Novatel/NovatelPackets.c
Novatel/NovatelPackets.h
Novatel/NovatelProtocol.h
Novatel/bitfieldtest.c
Novatel/bitfieldtest.h
Novatel/fielddecode.c
Novatel/fielddecode.h
Novatel/fieldencode.c
Novatel/fieldencode.h
Novatel/floatspecial.c
Novatel/floatspecial.h
Novatel/Novatel.markdown
Novatel/Novatel.html
