body {
    text-align:justify;
    width: 1000px;
    background-color:#eee;
    margin-left: auto;
    margin-right: auto;
    font-family:Verdana;
}

table {
   border: 3px solid darkred;
   border-collapse: collapse;
}

th, td {
   border: 1px solid green;
   font-family: Courier New, monospace;
}

td{ padding: 2px; }
h1, h2, h3, h4, h5 { font-family: Arial; }
h1 { font-size:150%; }
h2 { font-size:135%; }
h3 { font-size:120%; }
h4 { font-size:110%; }
h5, li { font-size:100%; }
caption{ font-family:Verdana; }

code, pre, .codelike {
    font-family: Courier New, monospace;
    font-size: 100%;
    color: darkblue;
}
